#countries {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.country {
    background-color: rgb(252, 213, 206);
    margin: 5%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid springgreen;
    width: 80%;
}

#cname {
    color: teal;
}

#CountryDetail img {
    width: 100px;
}
